<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-edit"></span>Codeshare</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      </li>
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span>Login</a>
      </li>
    </ul>
  </div>
</nav>
