<nav id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-edit"></span>Codeshare</a>
      </li>
      <li>
        <div class="run-btn-nav-area">
          <button id="run-button" type="button" class="btn btn-success">Run</button>
          <small class="run-btn-description">or <b>Shift + Enter</b> to run</small>
          <span class="label label-primary">Python 3</span>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
{{!--       <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span>Login</a>
      </li> --}}
    </ul>
  </div>
</nav>
