<!DOCTYPE html>
<html>
  <head>
    <title>Codeshare</title>
    {{> head}}
  </head>
  <body>
    {{> nav}}
    {{{body}}}
    <small class="made-with">Made with ♥ by <a target="_blank" href="https://www.linkedin.com/in/kenjimiwa/">Kenji</a></small>
  </body>
</html>
